<div id="app" v-cloak>
  <person-alter :list="persons"></person-alter>
  <br><hr>
  <person-list :list="persons"></person-list>
</div>

<template id="person-alter-template">
  <div>
    <center>
    <h2>{{ type }} Pekerja</h2>
    <form @submit.prevent="alterPerson">
        <input type="text" v-if="!viewingDelete" placeholder="Enter person name" v-model="form.name" />
        <input type="text" v-if="!viewingDelete" placeholder="Enter person age" v-model="form.age" />
        <p v-if="viewingDelete">Apakah kamu ingin menghapus: <strong>{{ form.name }}</strong></p>
      <button type="submit" v-show="form.name && form.age">{{ type }}</button>
    </form>
    </center>
  </div>
</template>

<template id="person-list-template">
  <div>
    <h2>
      Total Pekerja
      <span v-if="total">({{ total }})</span>
    </h2>
    <table border="1" v-if="total">
      <tr>
        <th>Nama Pekerja</th>
        <th>Umur</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <tr v-for="(person, key) in list">
        <td>{{ person.name }}</td>
        <td>{{ person.age }}</td>
        <td><button type="button" @click="alteringPerson('Edit', person, key)">Edit</button></td>
        <td><button type="button" @click="alteringPerson('Delete', person, key)">Delete</button></td>
      </tr>
    </table>
    <div v-else>
      <p>Data kosong.</p>
    </div>
  </div>
</template>